
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: pink;
}

li.showtrackr{
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background: gold;
}

.active {
  background-color: lightgray;
}



.detail {
    background: #fff;
    width: 1050px;
    border-radius: 6px;
    margin: 0 auto;
    display: table;
    padding: 15px 30px 30px;
    box-sizing: border-box;
}


body {
  background: lightgray;
  font-family: arial;
}

button.cls{
padding: 20px 20px;
border: 0;
background: blue;
cursor: pointer;
border: 1px;
font-size: 18px;
line-height: 1;
bottom:7em;
position:absolute;
left:13em;
color:white;

 }
